@model sp23Team33FinalProject.Models.Position

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Position</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PositionTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PositionTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PositionDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PositionDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PositionType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PositionType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Industry1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Industry1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Industry2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Industry2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Industry3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Industry3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deadline)
        </dd>
    </dl>
</div>

<h5>Accepted Majors</h5>
<table class="table table-bordered">
    <tr>
        <th>Majors:</th>
    </tr>
    @foreach (Major major in Model.Majors)
    {
        <tr>
            <td>@major.MajorName</td>
        </tr>
    }
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PositionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
